@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body ,button, input{
    font-family: "Josefin Sans", sans-serif;
}
body{
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}
/* For WebKit browsers */
::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #33333300;
    /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
    /* Color of the scrollbar thumb */
    border-radius: 10px;
    /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
    background: #cdcdcd;
    /* Color on hover */
}

/* For Firefox */
* {
    scrollbar-width: thin;
    /* Makes scrollbar thin */
    scrollbar-color: #7d7d7d #33333300;
    /* Thumb and track color */
}